@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <script type="text/javascript">
        $(function () {
            $("#slideshow > div:gt(0)").hide();

            setInterval(function () {
                $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
            }, 3000);
        });
    </script>
</head>
<body>
    <div class="content-wrapper">
        <br />
        <div class="bar">
            <span class="barText">
                <h2>
                    Welcome!</h2>
            </span>
        </div>
        <br />
        <br />
        @if (ViewData.Model.Count > 0)
        {
         @Html.Partial("_HomeImageScroll")
        }
        <div class="WelcomeMsg">
            Coming Soon!
            <br />
            <br />
        </div>
    </div>
</body>
</html>
