@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <title>Home</title>

 <script type="text/javascript">
    </script>
</head>
<body>
        <div class="content-wrapper">
        <br />
        <div class ="bar"><span class="barText"><h2>Welcome!</h2></span></div>
            <br />
                <br />
              <div style="text-align:center">
              <!--<img id="IntroPic" src="@Url.Content("/Images/welcome.png")" alt="Welcome Mat" /> -->
              </div>
            <p>
            Coming Soon!
              <br />
              <br />
            </p>
        </div>

</body>
</html>