<table>
  @{int count = 0;}
   @foreach (var image in ViewData.Model)
   {
       if (image.Gender == "Women")
       {
          if (count % 8 == 0)
           {
             <tr></tr>    
           }
           <td>
   <div class="imageItem">
   <span class="image">
        <!--<a href="ShoesImages/@image.Path">-->
        <img class="imgSingle" style="cursor:pointer;" src="DressImages/@image.Path" onclick="UpdateView('tabs-1', 'DressImages/@image.Path', '@image.Description');" height="100" width="100" /><!--</a>-->
        <br />
        <span class="description">@image.Description</span>
   </span>
   </div>
   </td>
           count++;
       }
   }
   </table>