<table>
 @{int count2 = 0;}
   @foreach (var image in ViewData.Model)
   {
       if (image.Gender == "Girls")
       {
           if (count2 % 8 == 0)
           {
             <tr></tr>    
           }
           <td>
              <div class="imageItem">
   <span class="image">
        <!--<a href="ApparelsImages/@image.Path">-->
        <img class="imgSingle" style="cursor:pointer;" src="KidsCapsImages/@image.Path" onclick="UpdateView('tabs-1', 'KidsCapsImages/@image.Path', '@image.Description');" height="100" width="100" /><!--</a>-->
        <br />
        <span class="description">@image.Description</span>
   </span>
   </div>
   </td>
           count2++;
       }
   }
</table>