@using MyBusiness.Models

@{
    ViewBag.Title = "Rhinestones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
<br />
<div class ="bar"><span class="barText"><h2>Rhinestones</h2></span></div>
 

 <script type="text/javascript">

     function UpdateWomen() {
         $.ajax({
             url: '@Url.Action("ReloadRhinestonesWomen", "RhineStones")',
             data: {},
             type: 'POST',
             success: function (data) {
                 $('#tabs-1').html(data);
             }
         });
     }


     function UpdateMen() {
         $.ajax({
             url: '@Url.Action("ReloadRhinestonesMen", "RhineStones")',
             data: {},
             type: 'POST',
             success: function (data) {
                 $('#tabs-2').html(data);
             }
         });
     }

     function UpdateView(tab, path, desc) {
         if (tab == "tabs-1") {
             $('#' + tab).html('<div class=\"LoadedImg\"> <a href="#" onclick="UpdateWomen(); ">Go back</a><br> <br><img src="' + path + '" width=100% /> <br> <br><a href="#" onclick="UpdateWomen(); ">Go back</a> </div> <div class=\"LoadedImgDesc\">' + desc + '</div> ');
         }
         else {
             $('#' + tab).html('<div class=\"LoadedImg\"> <a href="#" onclick="UpdateMen(); ">Go back</a><br> <br><img src="' + path + '" width=100% /> <br> <br><a href="#" onclick="UpdateMen(); ">Go back</a> </div> <div class=\"LoadedImgDesc\">' + desc + '</div> ');
         }
     }

     $(function () {

         $("#tab1").on("click", function () {
             UpdateMen();
         });
         $("#tab2").on("click", function () {
             UpdateWomen();
         });

         $("#tabs").tabs({

         });
         $("#tabs").tabs().css({
             'height': '660px',
             'overflow': 'auto',
             'font-size': '10pt'
         });

     });


    </script>
</head>
<body>
<br />
   <div id="tabs">
<ul>
<li id="tab1"><a href="#tabs-1">Women's</a></li>
<li id="tab2"><a href="#tabs-2">Men's</a></li>
</ul>
<div id="tabs-1">
 @Html.Partial("_RhinestonesWomen")
</div>
<div id="tabs-2">
 @Html.Partial("_RhinestonesMen")
</div>
</div>

</body>
</html>