<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.donnas-fashion.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://donnas-fashion.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>eplugplay-001-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\eplugplay-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="db_9ae46c_myblogEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=MYSQL5005.Smarterasp.net;database=db_9ae46c_myblog;User Id=9ae46c_myblog;Persist Security Info=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\db_9ae46c_myblogEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.entDbMain.csdl|res://*/Models.entDbMain.ssdl|res://*/Models.entDbMain.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=MYSQL5005.Smarterasp.net;database=db_9ae46c_myblog;User Id=9ae46c_myblog;password=;Persist Security Info=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MyBusinessCnn" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=MYSQL5005.Smarterasp.net;database=db_9ae46c_myblog;User Id=9ae46c_myblog;Persist Security Info=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyBusinessCnn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=MYSQL5005.Smarterasp.net;Database=db_9ae46c_myblog;Uid=9ae46c_myblog;Pwd=;Persist Security Info=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ftp" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="@" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ftp_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="@" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)db_9ae46c_myblogEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ftp-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyBusinessCnn-Web.config Connection String" />
  </ItemGroup>
</Project>